name: Release Drafter

on:
  pull_request:
    types: [closed]

jobs:
  update-release-draft:
    name: Update Release Draft
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Draft a release using Release Drafter
        uses: release-drafter/release-drafter@v5
        with:
          config-name: .github/release-drafter.yml
